.form-body {
    background-color: lightblue;
    height: 80%;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
  "header header header"
  "label label label"
  "content content content"
  "footer footer footer";
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}
.form-header {
    grid-area: header;
    align-self: center;
    justify-self: center;
}
.h2 {
    grid-area: label;
    align-self: center;
    justify-self: center;
}
.form-div {
    grid-area: content;
    align-self: center;
    justify-self: center;
}
.button-div {
    grid-area: footer;
    align-self: center;
    justify-self: center;
}
#form-body2 {
    display: none;
}
#form-body3 {
    display: none;
}
#form-body4 {
    display: none;
}
label {
    display: block;
    text-align: center;
}
select {
    width: 100%;
}